F429ZI_LDR_PWM.json
[
    {
        "id": "7b9ed63e.2138f8",
        "type": "tab",
        "label": "Basic_Flow",
        "disabled": false,
        "info": "# Basic flow to start with STM32CubeMonitor."
    },
    {
        "id": "1ebbb430.dac7dc",
        "type": "ui_chartst",
        "z": "7b9ed63e.2138f8",
        "group": "f9c34dde.1e2f4",
        "name": "myChart",
        "order": 4,
        "width": "0",
        "height": "0",
        "chartType": "line",
        "curveType": "linear",
        "duration": "10",
        "ymin": "",
        "ymax": "",
        "x": 580,
        "y": 280,
        "wires": []
    },
    {
        "id": "6013fb0b.5b7504",
        "type": "acquisition out",
        "z": "7b9ed63e.2138f8",
        "name": "myProbe_Out",
        "probeconfig": "ee726ebac82f85a6",
        "x": 620,
        "y": 120,
        "wires": []
    },
    {
        "id": "4a573fb0.4bc99",
        "type": "acquisition in",
        "z": "7b9ed63e.2138f8",
        "name": "myProbe_In",
        "probeconfig": "95ccecb752362ec2",
        "x": 130,
        "y": 280,
        "wires": [
            [
                "a7c3e070.5a6c"
            ],
            []
        ]
    },
    {
        "id": "d59587ff.cd1748",
        "type": "variables",
        "z": "7b9ed63e.2138f8",
        "groupname": "myVariables",
        "accesspoint": 0,
        "execonfig": "277b7dd496d3c8c8",
        "variablelist": [],
        "triggerstartmode": "manual",
        "triggername": "adc",
        "triggerthreshold": "30000",
        "frequency": "",
        "frequencyType": "0",
        "snapshotheader": "",
        "mode": "direct",
        "lastImportedTime": 1685600668344,
        "openStatus": true,
        "x": 330,
        "y": 120,
        "wires": [
            [
                "6013fb0b.5b7504",
                "b6afb44dfe2671fe"
            ],
            []
        ]
    },
    {
        "id": "5fd51c96.2330e4",
        "type": "ui_button",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 1,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "START Acquisition",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "start",
        "topicType": "str",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "d59587ff.cd1748"
            ]
        ]
    },
    {
        "id": "52eadfe3.2c8cc",
        "type": "ui_button",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 2,
        "width": "0",
        "height": "0",
        "passthru": true,
        "label": "STOP Acquisition",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "stop",
        "topicType": "str",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "d59587ff.cd1748"
            ]
        ]
    },
    {
        "id": "a7c3e070.5a6c",
        "type": "processing",
        "z": "7b9ed63e.2138f8",
        "groupname": "myVariables",
        "groupid": "d59587ff.cd1748",
        "expressions": [],
        "statistics": [],
        "logmode": "changes",
        "logformat": "stcm",
        "x": 390,
        "y": 280,
        "wires": [
            [
                "1ebbb430.dac7dc"
            ],
            []
        ]
    },
    {
        "id": "b6afb44dfe2671fe",
        "type": "ui_write",
        "z": "7b9ed63e.2138f8",
        "group": "f9c34dde.1e2f4",
        "name": "myPanel",
        "order": 4,
        "width": 0,
        "height": 0,
        "x": 460,
        "y": 40,
        "wires": [
            [
                "6013fb0b.5b7504"
            ]
        ]
    },
    {
        "id": "f9c34dde.1e2f4",
        "type": "ui_group",
        "name": "Chart",
        "tab": "17d09b07.741a55",
        "order": 1,
        "disp": true,
        "width": 15,
        "collapse": false
    },
    {
        "id": "ee726ebac82f85a6",
        "type": "probe",
        "probeid": "0669FF555071494867043105",
        "probename": "ST-Link v2-1B 0669FF555071494867043105",
        "protocol": "SWD",
        "frequency": "1.8 MHz - Default",
        "probeproperty": "{\"SWD\":[\"4.6 MHz\",\"1.8 MHz - Default\",\"950 kHz\",\"400 kHz\",\"150 kHz\"],\"JTAG\":[\"18 MHz\",\"9 MHz\",\"4.5 MHz\",\"2.25 MHz\",\"1.12 MHz - Default\",\"560 kHz\",\"280 kHz\",\"140 kHz\"]}",
        "probeversion": "ST Link firmware version V2.J41",
        "connectionType": "p2p",
        "nickname": "myProbeOut"
    },
    {
        "id": "95ccecb752362ec2",
        "type": "probe",
        "probeid": "0669FF555071494867043105",
        "probename": "ST-Link v2-1B 0669FF555071494867043105",
        "protocol": "SWD",
        "frequency": "1.8 MHz - Default",
        "probeproperty": "{\"SWD\":[\"4.6 MHz\",\"1.8 MHz - Default\",\"950 kHz\",\"400 kHz\",\"150 kHz\"],\"JTAG\":[\"18 MHz\",\"9 MHz\",\"4.5 MHz\",\"2.25 MHz\",\"1.12 MHz - Default\",\"560 kHz\",\"280 kHz\",\"140 kHz\"]}",
        "probeversion": "ST Link firmware version V2.J41",
        "connectionType": "p2p",
        "nickname": "myProbeIn"
    },
    {
        "id": "277b7dd496d3c8c8",
        "type": "exe-config",
        "name": "myVariable",
        "exefile": "D:\\workspace\\F429ZI_LDR_PWM\\Debug\\F429ZI_LDR_PWM.elf",
        "exefolder": "D:\\workspace\\F429ZI_LDR_PWM\\Debug",
        "exevariablelist": [
            {
                "address": "0x200000bc",
                "name": "adc",
                "type": 3,
                "checked": true
            },
            {
                "address": "0x08002af4",
                "name": "AHBPrescTable[0]",
                "type": 1
            },
            {
                "address": "0x20000060",
                "name": "hadc3.DMA_Handle",
                "type": 5
            },
            {
                "address": "0x2000006c",
                "name": "hadc3.ErrorCode",
                "type": 5
            },
            {
                "address": "0x2000002c",
                "name": "hadc3.Init.ClockPrescaler",
                "type": 5
            },
            {
                "address": "0x20000040",
                "name": "hadc3.Init.ContinuousConvMode",
                "type": 2
            },
            {
                "address": "0x20000034",
                "name": "hadc3.Init.DataAlign",
                "type": 5
            },
            {
                "address": "0x20000048",
                "name": "hadc3.Init.DiscontinuousConvMode",
                "type": 2
            },
            {
                "address": "0x20000058",
                "name": "hadc3.Init.DMAContinuousRequests",
                "type": 2
            },
            {
                "address": "0x2000003c",
                "name": "hadc3.Init.EOCSelection",
                "type": 5
            },
            {
                "address": "0x20000050",
                "name": "hadc3.Init.ExternalTrigConv",
                "type": 5
            },
            {
                "address": "0x20000054",
                "name": "hadc3.Init.ExternalTrigConvEdge",
                "type": 5
            },
            {
                "address": "0x20000044",
                "name": "hadc3.Init.NbrOfConversion",
                "type": 5
            },
            {
                "address": "0x2000004c",
                "name": "hadc3.Init.NbrOfDiscConversion",
                "type": 5
            },
            {
                "address": "0x20000030",
                "name": "hadc3.Init.Resolution",
                "type": 5
            },
            {
                "address": "0x20000038",
                "name": "hadc3.Init.ScanConvMode",
                "type": 5
            },
            {
                "address": "0x20000028",
                "name": "hadc3.Instance",
                "type": 5
            },
            {
                "address": "0x20000064",
                "name": "hadc3.Lock",
                "type": 2
            },
            {
                "address": "0x2000005c",
                "name": "hadc3.NbrOfCurrentConversionRank",
                "type": 5
            },
            {
                "address": "0x20000068",
                "name": "hadc3.State",
                "type": 5
            },
            {
                "address": "0x2000008c",
                "name": "htim4.Channel",
                "type": 2
            },
            {
                "address": "0x200000b2",
                "name": "htim4.ChannelNState[0]",
                "type": 2
            },
            {
                "address": "0x200000ae",
                "name": "htim4.ChannelState[0]",
                "type": 2
            },
            {
                "address": "0x200000b6",
                "name": "htim4.DMABurstState",
                "type": 2
            },
            {
                "address": "0x20000090",
                "name": "htim4.hdma[0]",
                "type": 5
            },
            {
                "address": "0x20000088",
                "name": "htim4.Init.AutoReloadPreload",
                "type": 5
            },
            {
                "address": "0x20000080",
                "name": "htim4.Init.ClockDivision",
                "type": 5
            },
            {
                "address": "0x20000078",
                "name": "htim4.Init.CounterMode",
                "type": 5
            },
            {
                "address": "0x2000007c",
                "name": "htim4.Init.Period",
                "type": 5
            },
            {
                "address": "0x20000074",
                "name": "htim4.Init.Prescaler",
                "type": 5
            },
            {
                "address": "0x20000084",
                "name": "htim4.Init.RepetitionCounter",
                "type": 5
            },
            {
                "address": "0x20000070",
                "name": "htim4.Instance",
                "type": 5
            },
            {
                "address": "0x200000ac",
                "name": "htim4.Lock",
                "type": 2
            },
            {
                "address": "0x200000ad",
                "name": "htim4.State",
                "type": 2
            },
            {
                "address": "0x20000000",
                "name": "SystemCoreClock",
                "type": 5
            },
            {
                "address": "0x200000c0",
                "name": "uwTick",
                "type": 5
            },
            {
                "address": "0x20000008",
                "name": "uwTickFreq",
                "type": 2
            },
            {
                "address": "0x20000004",
                "name": "uwTickPrio",
                "type": 5
            },
            {
                "address": "0x200000b8",
                "name": "x",
                "type": 5,
                "checked": true
            }
        ],
        "expand": false,
        "filename": "F429ZI_LDR_PWM.elf",
        "exeModifiedTime": 1685467945705,
        "configLastUpdate": 1685544637253
    },
    {
        "id": "17d09b07.741a55",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]